################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataService.slnx
/DataService/data.db-shm
/DataService/data.db-wal
