################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# SQLite
*.db
*.db-shm
*.db-wal

# OS files
Thumbs.db
.DS_Store

# JetBrains Rider
.idea/
